/* fixed top */

.fixed-top {
    position: fixed;
    top: 0;
    height: 70px;
}


.nav-icon {
    width: 50px;
    height: 50px;
    top: 8px;
    left: 20px;
    position: fixed;
}

.navbar bg-dark fixed-top d-flex, h1 {
    color: white;
    left: 90px;
    position: fixed;
}



/* fixed left */

.fixed-left {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
}


/* vertical nav bar */

.nav-item {
    margin: 0;
}

.nav-link {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



/*Main Content*/


#mainContainer {
    margin-top: 90px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 20px;
}

.flashcard-label {
    font-size: 15px;
}

.flashcard-textBox.paola.penafor.monyk {
    width: 90%;
    height: 100px;
}

.btn.btn-danger.btn-center {
    width: 20%;
    align-self: center;
    margin-top: 10px;
    margin-left: 36%;
}






/*
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.navbar-nav {
    flex-direction: column;
    padding: 0;
    margin: 0;
}*/

