/* fixed top */

.fixed-top {
    position: fixed;
    top: 0;
    height: 70px;
}


.nav-icon {
    width: 50px;
    height: 50px;
    top: 8px;
    left: 20px;
    position: fixed;
}

.navbar.bg-dark.fixed-top.d-flex, h1.title {
    color: white;
    left: 90px;
    position: fixed;
    margin-bottom: 0;
    align-items: center;
}




/* fixed left */

.fixed-left {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    align-items: start;
    padding:0;
}



/* nav bar */

div.row.user {
    padding: 0;
}

img.a-icon{
width:55px;
height:30px;
}

.user-label{
    justify-content: center;

}


.nav-item {
    margin: 0;
}


.nav-link {
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
    width: 200px;
    align-items: center;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}




/*Main Content*/

#mainContainer {
    margin-top: 90px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 20px;
}



/* Form Groups in create flashcards*/

.flashcard-label {
    font-size: 15px;
    width: 180px;
    background-color: #2C2C2C;
    color: white;
    height: 100px;
    padding: 11px;
    display: block;
    word-wrap: break-word;
    word-break: break-word;
}

.flashcard-textBox.mymemo.big-textBox.form-control {
    border-radius: 0rem;
    height: 100px;
}

.flashcard-textBox.mymemo.big-textBox {
    width: 90%;
    height: 100px;

}

.form-group.label-memo {
    display: flex;
    margin: 3px;
    border-radius: 0rem;
}

.multiline-textbox {
    height: 100px;
    resize: none;
    overflow-y: auto;
}



/* login forms */
.form-group.login-form {
    width: 250px;
    margin-top: 15px;
}

.error-message {
    color: red;
    font-size: 15px;
}



.edit.edit-button{
    width: 25px;
    height: 25px;
}


.col.panel-register {
    border: solid;
    border-color: #b9b9b9;
    border-width: thin;
    border-radius: 0.4rem;
    margin-right: 50px;
}




/* buttons */

.btn.btn-danger.btn-center, .btn.btn-primary.btn-center, .btn.btn-primary {
    width: 250px;

}

.btn-word{
    color: dodgerblue;
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 0;

}




/*display groups*/
div.flashcard-group-container .btn-flashcard-group {
    height: 80px;
    background-color: #91cfe1;
    border-radius: 0.35rem;
    font-weight: bold;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left-color: #4cb8d7;
    border-left-width: 20px;
    box-shadow: -5px 5px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

.lbl-category-groups{
     font-size: 20px;
     font-weight: bold;

}


.flashcad-table-row {
    border-color: #00000085;
    border-width: thin;
}

.flashcad-table-row-cell{
    padding: 10px;
}